:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: #f4effa;

  background: #222831;

  --transition-speed: 600ms;

  --text-primary: #f4effa;
  --dark-main-color: #2f184b;
  --middle-main-color: #9b72cf;
  --middark-main-color: #532b88;
  --midlight-main-color: #c8b1e4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-main-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-main-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-main-color);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--middle-main-color);
}

/* Navbar ---------------------------------------------------------------------------------------------------------------------*/

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--dark-main-color);
  transition: width 200ms ease;
  z-index: 9999;
}

.nav-ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--midlight-main-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--middark-main-color);
  color: var(--text-primary);
}

.nav-link:last-child {
  filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link img {
  margin: 0 0.9rem;
}

.svg-hover {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-primary);
  background: var(--middark-main-color);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: scaleX(1);
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: scaleX(-1);
}

/* Buttons ---------------------------------------------------------------------------------------------------------------------*/

.btn-add {
  background-color: var(--middle-main-color);
  color: var(--text-primary);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

/* Loader and error ---------------------------------------------------------------------------------------------------------------------*/

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* Search Bar ---------------------------------------------------------------------------------------------------------------------*/

.search {
  font-family: "DM Sans", sans-serif;
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.3rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--dark-main-color);
  background-color: var(--middle-main-color);
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

/* Footer ---------------------------------------------------------------------------------------------------------------------*/
.footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
}

/* Login Container -----------------------------------------------------------------------------------------------------------*/
.container-login {
  background-image: url("./assets/LoginBG.svg");
  height: 100vh;
  padding-left: 10%;
}

.container-logo {
  width: 810px;
  height: auto;
  padding-top: 10%;
}

.login-button {
  width: 240px;
  height: 60px;
  background-color: var(--dark-main-color);
  border-radius: 12px;
  margin-left: 8px;
}

.spacer {
  aspect-ratio: 1440/1024;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-text {
  text-decoration: none;
}

.failed {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  background-color: var(--dark-main-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 3rem;
}

.error-message > h1 {
  color: var(--text-primary);
}

/* Home Container -----------------------------------------------------------------------------------------------------------*/

#image-track > .image {
  width: 70vmin;
  height: 40vmin;
  object-fit: cover;
  object-position: 100% center;
  transition: all 0.5s ease;
}

#image-track > .image:hover {
  height: 70vmin;
  margin: 10rem 0 10rem 0;
}

.bg {
  width: 100%;
  height: 100vh;
}

.blur {
  position: absolute;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: auto;
}

#image-track {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 10vmin;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0%);
  user-select: none; /* -- Prevent image highlighting -- */
}

.image-title {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.image-title-small {
  margin: 0 0 25rem 0;
}

/* Album container -----------------------------------------------------------------------------------------------------------*/

.album-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1rem 2rem 1rem 2rem;
  background-color: var(--middark-main-color);
  border-radius: 1rem;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 1);
}

.album-desc {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.album-desc > h2 {
  margin: 0;
  margin-top: 0.5rem;
}

.album-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.album-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .nav-ul {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Utility Classes */

.hard-light {
  mix-blend-mode: hard-light;
}

.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.ta-center {
  text-align: center;
}
